.daikukuan{
    flex: 1;
}
.daikukuan>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 6px;
    border: 1px solid #cccccc;
    padding: 6px;
    box-sizing: border-box;
}
.daikukuan div img{
    width: 50px;
    height: 50px;
}
.daikukuan .content{
    height: 90%;
    overflow-y: auto;
    border: none;
}
.daikukuan .content i{
    font-size: 80px;
    color: yellowgreen;
}
.daikukuan .content div {
    margin-top: 50px;
    text-align: center;
}