.Home{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}
.Home::-webkit-scrollbar {
    display: none;
}
.Home .header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top : 8px;
    padding-bottom : 8px;
    box-sizing: border-box;
    background: yellow
}
.Home .header span input{
width: 300px;
}
.Home .header img{
    width: 25px;
    height: 25px;
    background: red;
}
.Home .header>i{
font-size: 25px
}